@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("./images/bg-intro-desktop.png");
    background-color: var(--Red);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    padding-top: 115px;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 20px;
}

.text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 490px;
}


h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.text p {
    margin-top: 15px;
    color: white;
    opacity: 0.9;
}

.form {
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue);
    padding: 10px 0px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
}

.form .heading span {
    color: var(--Grayish-Blue);
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    width: 100%;
}

.terms {
    margin-top: 15px;
    text-align: center;
}

.form .terms p {
    font-size: 10px;
    font-weight: 500;
    color: hsla(246, 25%, 77%, 0.8);
}

.form .terms p span {
    color: hsla(0, 100%, 74%, 0.9);
}

form input::placeholder {
    color: var(--dark-Blue);
    opacity: 0.6;
    font-size: 14px;
    font-weight: 700;
}

input {
    border: 1px solid hsla(246, 25%, 77%, 0.516);
    height: 55px;
    width: 100%;
    border-radius: 5px;
    padding-left: 30px;
    outline: none;
}


form input[type=submit] {
    padding: 0px;
    border: none;
    background-color: var(--Green);
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

footer {
    margin-top: auto;
    padding-bottom: 20px;
}

.input {
    margin-bottom: 40px;
    position: relative;
}

.error {
    right: 0;
    bottom: -25px;
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    color: var(--Red);
}

.error-logo {
    position: absolute;
    right: 20px;
    bottom: 16px;
}


@media  (max-width: 1300px) {
    body {
        height: 1000px;
    }

    section {
        flex-direction: column;
        width: 100%;
        padding: 50px 20px;
    }

    .text {
        width: 100%;
        text-align: center;
    }

    .text h1 {
        margin: 0px;
        font-size: 32px;
        width: 100%;
    }

    .text p {
        margin: 0px;
        width: 100%;
        font-size: 16px;
        margin-top: 10px;
    }

    .form {
        margin-top: 40px;
        width: 100%;
    }

    .form .heading {
        text-align: center;
        padding: 20px 20vw;
    }

    input {
        padding-left: 20px;
    }
}